{% extends 'base/main.html' %}
{% load humanize %}
{% load user_filter %}

{% load static %}
{% load cloudinary %}
{% block user-tab-sec %}
    <div class="user-tab-sec mb-3">
        <h3>{{ event.name }}</h3>
        <label class="lead">
            <a href="https://twitter.com/search?q=%23{{ event.tagline }}">
                #{{ event.tagline }}
                <img src="{% static 'images/icons-twitter-16.png' %}" alt="twitter">
            </a>
        </label>
        <label class="lead">
            <a href="https://www.facebook.com/search/top/?q=%23{{ event.tagline }}">
                #{{ event.tagline }}
                <img src="{% static 'images/icons-facebook-16.png' %}" alt="facebook">
            </a>
        </label>
    </div>
{% endblock %}
{% block job-suggestion %}{% endblock %}
{% block recent-event %}{% endblock %}
{% block user-pro-status %}
    <div class="user_pro_status">
        <ul class="flw-status">
            <li>
                <span>Được theo dõi</span>
                <span>{{ event.following_set.count }} lượt</span>
            </li>
        </ul>
        {% if event.get_owner.user_id != request.user.id %}
            {% if event.id not in request.user|following_list:"to_event" %}
                <button class="btn btn-success rounded-0" onclick="follow_unfollowOther(this);"
                        data-type="to_event" data-value="{{ event.id }}">Theo dõi
                </button>
            {% else %}
                <button class="btn btn-success rounded-0" onclick="follow_unfollowOther(this);"
                        data-type="to_event" data-value="{{ event.id }}">Bỏ theo dõi
                </button>
            {% endif %}
            <button class="btn btn-success rounded-0 join_event ml-2"
                    data-type="to_event" data-value="{{ event.id }}">Tham gia
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block social-links %}

{% endblock %}

{% block main-ws-sec %}
    <div class="main-ws-sec">
        <div class="user-tab-sec">
            <div class="tab-feed">
                <ul>
                    <li data-tab="info-dd" class="active">
                        <a href="javascript:void(0)" title="">
                            <img src="{% static 'images/info-icon.png' %}" alt="">
                            <span>Giới thiệu</span>
                        </a>
                    </li>
                    <li data-tab="comment-dd">
                        <a href="javascript:void(0)" title="">
                            <img src="{% static 'images/comment-icon.png' %}" alt="">
                            <span>Thảo luận</span>
                        </a>
                    </li>
                    {% if request.user.id == event.get_owner.user_id %}
                        <li data-tab="edit-info-dd">
                            <a href="javascript:void(0)" title="">
                                <img src="{% static 'images/edit-icon.png' %}" alt="">
                                <span>Chỉnh sửa thông tin</span>
                            </a>
                        </li>
                        <li data-tab="more-info-dd">
                            <a href="javascript:void(0)" title="">
                                <img src="{% static 'images/more-32.png' %}" alt="">
                                <span>Khác</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="product-feed-tab current" id="info-dd">
            {% block info-dd %}
                <div class="user-profile-ov">
                    <h3>Giới thiệu</h3>
                    <p>{{ event.description|safe }}</p>
                </div>
            {% endblock %}
        </div>
        <div class="product-feed-tab" id="comment-dd">
            <div class="user-profile-ov" id="element">
                {% block comment-discuss %}
                    <div class="row" id="content-context" style="display: block">
                        <div id="component-post-image" style="display: none" class="container">
                            <div id="choose-media" style="display: inline-block;">
                                <a id="choose-file-post" class="btn btn-primary border-0 rounded-0 ml-0 text-white"
                                   style="margin-bottom: 4px;cursor: pointer;">
                                    Thêm hình ảnh
                                    <i class="fa fa-picture-o text-white" aria-hidden="true"></i>
                                </a>
                            </div>
                            <input type="file" id="img-upload-post" name="img" accept="image/*"
                                   style="display:none;">
                            <a class="btn border-0 rounded-0" style="padding-right: 0;margin-bottom: 4px">
                                Quyền riêng tư
                            </a>
                            <select class=" dropbtn ml-0 privacy_id"
                                    style="padding-left: 8px; padding-right: 12px">
                                {% for privacy in list_privacy %}
                                    <option value="{{ privacy.id }}">{{ privacy.name }}</option>
                                {% endfor %}
                            </select>
                            <i class="fa fa-close float-right " aria-hidden="true"
                               onclick="hidePostTextComponent()"
                               style="cursor: pointer;font-size: 20px"></i>
                        </div>
                        <textarea class="form-control mt-2 rounded-5 mb-4" rows="2" name="content-text"
                                  id="content-text-post"
                                  onclick="showPostComponent()" placeholder="Bạn muốn chia sẻ điều gì? "></textarea>

                        <div class="row" id="content-image">
                            <div class="col-md-6 item-img mb-3">
                                <div class="img">
                                    <button class="delete-img btn-success" data-toggle="tooltip" data-placement="right"
                                            title="Xóa ảnh"><i class="material-icons">clear</i></button>
                                </div>
                            </div>
                            <div class="add-img col-md-12" id="add-img">
                                <div class="frame mt-3" data-toggle="tooltip" data-placement="right" title="Thêm ảnh"
                                     style="display: none">
                                    <div><i class="material-icons">add</i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="component-post" style="display: none">
                        {% csrf_token %}
                        <button type="submit" id="btn-share-post"
                                class="btn btn-success rounded-0 mt-2 float-right">Chia sẻ
                            <i class="fa fa-share" style="color: white" aria-hidden="true"></i>
                        </button>
                    </div>
                {% endblock %}
            </div>
            <div id="load-post">
            </div>
        </div>

        {# Chỉ admin trang mới có quyền chỉnh sửa thông tin #}
        {% if request.user.id == event.get_owner.user_id %}
            <div class="product-feed-tab" id="edit-info-dd">
                {% block edit-info-dd %}
                    {% include 'event/form-information.html' %}
                {% endblock %}
                {% include 'event/form-application.html' %}
                {% include 'event/form-application-question.html' %}
            </div>
            <div class="product-feed-tab" id="more-info-dd">
                <div class="user-profile-ov">
                    <div class="row mb-4">
                        <div class="col float-left">
                            <h2 class="font-weight-normal">
                                Danh sách tham gia sự kiện
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {% for participant in event.eventparticipant_set.all %}
                            <div class="avatar col-3">
                                {% if participant.get_owner.picture is not None %}
                                    {% cloudinary participant.get_owner.picture width=50 height=50 radius=50 crop='fill' id="avatar" %}
                                {% else %}
                                    <img src="https://res.cloudinary.com/duca7llkq-hSpace/image/upload/c_thumb,h_170,w_170/v1592386744/default/profile-avatar-default_gx550e.png"
                                         width="50" height="50" alt="">
                                {% endif %}
                                <p class="text-center"><a href="{{ participant.get_owner.get_absolute_url }}">{% if participant.get_owner.username %}
                                    {{ participant.get_owner.username }}{% else %}
                                    {{ participant.get_owner.name }}{% endif %}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block user-pro-img %}
    {% if event.picture is not None %}
        {% cloudinary event.picture width=170 height=170 crop='fill' id="avatar" class="shadow-sm" %}
    {% else %}
        <img src="https://res.cloudinary.com/duca7llkq-hSpace/image/upload/c_thumb,h_170,w_170/v1592386744/default/profile-avatar-default_gx550e.png"
             width="170" height="170" alt="" class="shadow-sm" id="avatar">
    {% endif %}
    {# Chỉ admin trang mới có quyền cập nhật ảnh đại diện #}

    {% comment %}
         currentOwnerId dùng trong việc định danh người upload file,
         và sẽ được overide trong các template kế thừa như(team,acclerator, contest, event)
         cstftoken được dùng trong AJAX upload ảnh
    {% endcomment %}
    <a id="choose-file-avatar" style="cursor: pointer" {% if request.user.id != event.get_owner.user_id %}
       hidden {% endif %}>
        <i class="fa fa-camera" style="color: white">
            <input type="file" id="img-upload-avatar" name="img" accept="image/*"
                   style="display:none;">
        </i>
    </a>
{% endblock %}

{% block inside-main-script %}
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="{% static 'js/selectivity/selectivity-jquery.js' %}"></script>
    <script>
        let currentOwnerId = document.querySelector("input[name=currentOwnerId]");
        {% if request.user.id == event.get_owner.user_id %}
            {% comment %}
            Upload ảnh khi thay dổi ảnh đại diện
            {% endcomment %}
            let imageUploadAvatar = document.getElementById("img-upload-avatar");
            let handleFiles = function () {
                const selectedFile = this.files[0];
                let form = new FormData();
                form.append("currentOwnerId", currentOwnerId.value);
                form.append("avatar", selectedFile);
                {# Tạo xhttprequest gửi file lên server #}
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let answer = JSON.parse(this.response);
                    if (answer.status === "success") {
                        toastr.success("Upload ảnh thành công");
                    } else {
                        toastr.error("Không thể upload ảnh")
                    }
                }
                form.append("csrfmiddlewaretoken", document.querySelector("input[name=csrfmiddlewaretoken]").value);
                xhr.open("POST", "{% url 'event:event-upload-avatar' %}")
                xhr.send(form)
            }
            imageUploadAvatar.addEventListener("change", handleFiles, false);
        {% endif %}

        {# Hiển thị các hình ảnh trong danh sách các thẻ hình ảnh trả về #}
        let display_images = function (images) {
            let display_content = "";
            for (let image of images) {
                display_content += image;
            }
            return display_content;
        }
        {# Hiển thị nút xóa để xóa bài viết nếu người đang xem là chủ nhân hoặc admin #}
        let display_delete_icon = function (owner_permission, post_id) {
            if (owner_permission === true) {
                return `<i  class="fa fa-trash text-danger delete-post"
                            style="cursor: pointer;"
                            data-value="${post_id}"
                            title="Xóa"
                            aria-hidden="true">
                        </i>`;
            }
            return ``;
        }
        {# Hiển thị icon quyền riêng tư #}
        let display_privacy_icon = function (privacy_code, privacy_setting) {
            if (privacy_code === "public") {
                return `<i class="fa fa-globe" aria-hidden="true" title="${privacy_setting}"></i>`;
            } else if (privacy_code === "private") {
                return `<i class="fa fa-lock" aria-hidden="true" title="${privacy_setting}"></i>`;
            }
        }

        {%  comment %}
        Reload danh sách bài post
        {%  endcomment %}

        function reload_post_list() {
            clearPost();
            $.ajax({
                url: "{% url 'organization:all-post-of-org' %}",
                data: {
                    "org_id": {{  event.id }}
                },
                success: function (data) {
                    $("#load-post").html("");
                    let content = "";
                    $.each(data, function (index, value) {
                        {# Hiển thị hình ảnh và văn bản bài viết #}
                        if (value["hidden"] === false) {
                            content += `
                                    <div class="post-bar">
                                            <div class="post_topbar">
                                                <div class="usy-dt">
                                                    ${value["user_picture"]}
                                                    <div class="usy-name">
                                                        <h3><a href="${value["user_url"]}">${value["username"]}</a></h3>
                                                        <span><img src="{% static 'images/clock.png' %}"
                                            alt="">${moment(value["date_created"]).locale("vi").format("HH:mm DD MMMM YYYY")}</span>
                                                        ${display_privacy_icon(value["privacy_code"], value["privacy_setting"])}
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    ${display_delete_icon(value["owner_permission"], value["post_id"])}
                                                </div>
                                            </div>
                                            <div class="job_descp">
                                                    <p>${value["content"]}</p>
                                                    ${display_images(value["images"])}
                                            </div>
                                            <div class="job-status-bar">
                                                <ul class="like-com">
                                                    <li>
                                                        <a href="#"><i class="la la-heart"></i>Yêu thích 25</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="material-icons">mode_comment</i>Bình luận
                                                            15
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>`;
                        }
                    })
                    $("#load-post").html(content);
                }
            })
        }

        {# Xóa bài viết #}
        $("body").delegate(".delete-post", "click", function () {
            let post_id = $(this).attr("data-value");
            Swal.fire({
                title: 'Xóa bài viết?',
                text: "Bạn có chắc chắn muốn xóa bài viết này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#007bff',
                cancelButtonColor: '#28a745',
                confirmButtonText: 'OK'
            }).then((willDelete) => {
                if (willDelete.value) {
                    $("#pls-wait").modal({backdrop: 'static', keyboard: false});
                    $("#pls-wait").modal("show");
                    {# Gửi request xóa bài post #}
                    $.ajax({
                        url: Urls["organization:delete-post-of-org"](),
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": document.querySelector("input[name=csrfmiddlewaretoken]").value
                        },
                        data: {
                            "post_id": post_id,
                        },
                        statusCode: {
                            204: function (data) {
                                $("#pls-wait").modal("hide");
                                Swal.fire({
                                    text: "Đã xóa thành công!",
                                    icon: "success",
                                });
                                reload_post_list();
                            },
                            400: function (data) {
                                $("#pls-wait").modal("hide");
                                console.error(`${data["status"]}`)
                            },
                            404: function (data) {
                                $("#pls-wait").modal("hide");
                                console.error(`${data["status"]}`)
                            }
                        }
                    })
                }
            })
        })

        {#  hiển thị hình ảnh sau khi chọn từ local  #}
        let loadPhotos = function (event) {
            let output = document.getElementById("photos");
            let countPhotoSelected = 0;
            while (event.target.files.length !== countPhotoSelected) {
                output.appendChild(addImagesElement(URL.createObjectURL(event.target.files[countPhotoSelected])));
                countPhotoSelected++;
            }
        }

        function addImagesElement(url) {
            let addImagesToElement = document.createElement("img");
            addImagesToElement.src = url;
            addImagesToElement.onload = function () {
                URL.revokeObjectURL(addImagesToElement.src);    //free memory
            };
            return addImagesToElement;
        }

        {% comment %}
            upload hình ảnh của bài thảo luận
        {% endcomment %}
        let contentText = document.getElementById("content-text-post");
        let btnSharePost = document.getElementById("btn-share-post");
        let handlePostFiles = function () {
            let privacy_id = $(".privacy_id").val();
            if (arr_img_post.length === 0 && contentText.value.length === 0) {
                return;
            } else {
                let form = new FormData();
                form.append("currentOwnerId", currentOwnerId.value);
                form.append("text", contentText.value);
                for (let i = 0; i < arr_img_post.length; i++) {
                    form.append("images", arr_img_post[i]);
                }
                form.append("privacy_id", privacy_id);
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 201) {
                        console.log("Post was created successfully!");
                        reload_post_list()
                    } else {
                        console.error("An error occured could not save the post!")
                    }
                    $("#pls-wait").modal("hide");
                }
                form.append("csrfmiddlewaretoken", document.querySelector("input[name=csrfmiddlewaretoken]").value);
                xhr.open("POST", "{% url 'organization:upload-a-post-of-org' %}");
                xhr.send(form);
                $("#pls-wait").modal({backdrop: 'static', keyboard: false});
                $("#pls-wait").modal("show");
            }
        }
        btnSharePost.addEventListener("click", handlePostFiles, false);

        $(document).ready(function () {
            reload_post_list();
        })
    </script>
    {% comment %}
    Theo dõi/Bỏ theo dõi organization
    {% endcomment %}
    <script>
        let csrfmiddlewaretoken = document.querySelector("input[name=csrfmiddlewaretoken]").value;

        function follow_unfollowOther(_this) {
            $.ajax({
                url: Urls["main:follow_unfollow"](),
                method: 'POST',
                cache: false,
                data: {
                    "otherId": _this.getAttribute("data-value"),
                    "to": _this.getAttribute("data-type"),
                    "csrfmiddlewaretoken": csrfmiddlewaretoken
                },
                statusCode: {
                    201: function () {
                        console.info("Đã theo dõi")
                        _this.innerText = "Bỏ theo dõi"
                    },
                    200: function () {
                        _this.innerText = "Theo dõi"
                    },
                    304: function () {
                        console.error("Không thể theo dõi event này!")
                    }
                }
            })
        }
    </script>
    {% comment %}
    Thêm/Chỉnh sửa quỹ của 1 tổ chức
    {% endcomment %}
    <script>
        function getAddFundForm(organization_uid, fund_id = null) {
            $.get("{% url 'organization:get-add-form-modal' %}", {
                "organization_uid": organization_uid,
                "fund_id": fund_id
            }, function (data) {
                $(".fundings").html(data["add_fund_modal"])
            })
        }

        {# Xóa quỹ của tổ chức #}

        function deleteFund(btn, organization_uid, fund_id = null) {
            let csrfmiddlewaretoken = document.querySelector("input[name=csrfmiddlewaretoken]").value;
            $.ajax({
                url: Urls["organization:fund-deleting"](),
                method: "post",
                data: {
                    "organization_uid": organization_uid,
                    "fund_id": fund_id,
                    "csrfmiddlewaretoken": csrfmiddlewaretoken
                },
                statusCode: {
                    204: function () {
                        toastr.success("Đã xóa!");
                        if ($(btn).parent().parent().siblings().length !== 0) {
                            $(btn).parent().parent().remove();
                        } else {
                            $("#table-all-funds").parent().append(`
                            <h3 class="text-center font-weight-light">
                                Chưa có quỹ nào
                                <a class="btn btn-sm btn-light rounded-0" onclick="getAddFundForm('{{ organization.unique_id }}');"
                                   title="Thêm quỹ">
                                   <i class="fa fa-plus"></i>
                                   Thêm
                                </a>
                            </h3>
                        `);
                            $("#table-all-funds").remove();
                        }
                    }
                }
            })
        }


        ///START EDITED
        let city_filter_selector = "#city-filter";
        $(city_filter_selector).selectivity({
            items: [
                {% for city in cities %}
                    {id: "{{ city.id }}", text: "{{ city.name }}"},
                {% endfor %}
            ],
            placeholder: 'Thành phố',
            data: {id: {{ event.city_id }}, text: "{{event.city.name}}"}
        });
        $(city_filter_selector).on("selectivity-selected", function () {
            $("#city_id").val($(city_filter_selector).selectivity("value"));
        })


        //TEXT EDITOR Quilljs
        $(function () {

            let quill = new Quill('#editor_des', {
                modules: {
                    toolbar: [
                        [{header: [1, 2, 3, 4, 5, 6, false]}],
                        ['underline', 'strike'],
                        ['code-block'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        ['clean']
                    ]
                },
                theme: 'snow',
                placeholder: ''
            })
            quill.on('text-change', function (delta, oldDelta, source) {
                if (source === 'user') {
                    let html = quill.root.innerHTML;
                    $("input[name=description]").val(html);
                }
            });

            let quill_schedule = new Quill('#editor_schedule', {
                modules: {
                    toolbar: [
                        [{header: [1, 2, 3, 4, 5, 6, false]}],
                        ['underline', 'strike'],
                        ['code-block'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        ['clean']
                    ]
                },
                theme: 'snow',
                placeholder: ''
            })
            quill_schedule.on('text-change', function (delta, oldDelta, source) {
                if (source === 'user') {
                    let html = quill_schedule.root.innerHTML;
                    $("input[name=schedule]").val(html);
                }
            });
        });


        $('.tagsinput').tagsinput({});

        //event save event
        $(document).on('click', '._save_event', function () {
            //call function save event
            saveEvent();
        });

        //function save event
        let saveEvent = () => {
            //collect data save event
            let formData = collectDataEvent();

            //Gửi dữ liệu lên server
            $.ajax({
                url: Urls["event:edit-event"](),
                method: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data, status) {
                    if (status === "success") {
                        toastr.success("Cập nhật thành công!");
                        location.href = location.origin + Urls["event:event-profile"]({"event_url": data["event_url"]});
                    }
                }
            });

        }

        //Lấy dữ liệu sự kiện để lưu
        let collectDataEvent = () => {
            let formData = new FormData();
            let contest_id = $('#event_id').val()
            let name = $("#name").val();
            let street_address = $("#street_address").val();
            let city_id = $('#city_id').val();
            let tagsinput = $('#tagline').val();
            let description = $('#description').val();
            let schedule = $('#schedule').val();
            let start_date = $('#st_date').val();
            let end_date = $('#en_date').val();
            let custom_url = $('#inputCustomLink').val();

            if (name === "" || street_address === "" || tagsinput === "" || description === "") {
                toastr.error("Kiểm tra lại các trường bắt buộc");
                return;
            }

            formData.append("event_id", contest_id);
            formData.append("name", name);
            formData.append("start_date", start_date);
            formData.append("end_date", end_date);
            formData.append("street_address", street_address);
            formData.append("city_id", city_id);
            formData.append("tagsinput", tagsinput);
            formData.append("description", description);
            formData.append("schedule", schedule);
            formData.append("custom_url", custom_url);
            formData.append("csrfmiddlewaretoken", document.querySelector("input[name=csrfmiddlewaretoken]").value);

            return formData
        }

        //Join event
        $('.join_event').on('click', function (e) {
            joinEvent()
        });

        //Function join event
        let joinEvent = (ele) => {
            $('#me-or-team-event-id').modal('show');
        };

        //Detect action save answer
        $(document).on('click', '.me-or-team-submit', function (e) {
            let thisTarget = this
            let event_id = $('.event_id').val();
            let current_owner_id = $('.current_owner_id').val();
            let me_or_team_id = $('.select_team').val() === "2" ? $('.select-my-team').val() : ""

            let formData = new FormData();
            formData.append("event_id", event_id);
            formData.append("current_owner_id", current_owner_id);
            formData.append("me_or_team_id", me_or_team_id);
            formData.append("csrfmiddlewaretoken", document.querySelector("input[name=csrfmiddlewaretoken]").value);

            //Gửi dữ liệu lên server
            $.ajax({
                url: Urls["event:join-event"](),
                method: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data, status) {
                    if (status === "success") {
                        toastr.success(data['message']);
                    }
                }
            });
            $('#me-or-team-event-id').modal('hide');
        });


        //Detect select team
        $(document).on('change', '.select_team', function (e) {
            if (this.value === "2") {
                $('.my-team').removeClass("d-none");
            } else {
                $('.my-team').addClass("d-none");
            }
        });
        ///END EDITTED
    </script>
{% endblock %}