{% extends 'base/profile.html' %}
{% load static %}

{% block title %}{{ event.name }}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectivity/selectivity-jquery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectivity/selectivity.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="{% static 'event/css/style.css' %}">
{% endblock %}

{% load cloudinary %}

{% block cover-sec-image %}
    {% if cover is not None %}
        {% if cover.media_type == 'img' %}
            {% cloudinary cover.image height=500 crop='fill' id="cover" %}
        {% else %}
            <video id="player1" width="640" style="max-width:100%;" preload="none" controls playsinline
                   webkit-playsinline>
                <!-- <source src="https://vimeo.com/52124725" type="video/vimeo"> -->
                <source src="{{ cover.url }}" type="video/youtube">
            </video>
        {% endif %}
    {% else %}
        <img src="https://via.placeholder.com/1600x400" height="510" alt="Ảnh bìa đại diện" id="cover">
    {% endif %}
{% endblock %}

{% block cover-sec-image-upload-option %}
    {# Chỉ admin trang mới có quyền cập nhật ảnh bìa #}
    {% if request.user.id == event.get_owner.user_id %}
        <a href="#" class="custom-upload">
            <span class="icon">
                <i class="fa fa-camera"></i>
            </span>
            <div class="update-background">
                <span>Cập nhật ảnh bìa</span>
            </div>
        </a>
        <div class="options">
            <ul>
                <li>
                    <a href="#" title="" class="text-dark" id="choose-file-cover">
                        <p>Chọn ảnh</p>
                        <input type="file" id="img-upload-cover" name="img" accept="image/*"
                               style="display:none;">
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#update-link-page-cover" title="" class="text-dark"><p>
                        URL video</p>
                    </a>
                </li>
            </ul>
        </div>
        {% include 'event/update-page-cover.html' %}
    {% endif %}
{% endblock %}

{% block main-section %}
    <input name="currentOwnerId" value="{{ event.id }}" hidden id="event_id">
    {% include 'event/main.html' %}
    {% include 'event/modal-confirm-me-or-team.html' %}
{% endblock %}

{% block extra-js %}
    {% if request.user.id == event.get_owner.user_id %}
        {% comment %}
        Upload ảnh khi thay dổi ảnh bìa
        {% endcomment %}
        <script>
            let currentOwnerId_uploadCover = document.querySelector("input[name=currentOwnerId]");
            let imageUploadFile_cover = document.getElementById("img-upload-cover");
            let handleFiles_cover = function () {
                const selectedFile = this.files[0];
                let form = new FormData();
                form.append("currentOwnerId", currentOwnerId_uploadCover.value);
                form.append("cover", selectedFile);
                {# Tạo xhttprequest gửi file lên server #}
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    let answer = JSON.parse(this.response);
                    if (answer.status === "success") {
                        console.log("Upload ảnh thành công");
                        window.location.reload();
                    } else {
                        console.log("Không thể upload ảnh")
                    }
                }
                form.append("csrfmiddlewaretoken", document.querySelector("input[name=csrfmiddlewaretoken]").value);
                xhr.open("POST", "{% url 'event:event-upload-cover' %}")
                xhr.send(form)
            }
            imageUploadFile_cover.addEventListener("change", handleFiles_cover, false);

        </script>
    {% endif %}
{% endblock %}