td:hover {
    cursor: move;
}

.contest-title {
    font-weight: bold;
    color: #000000 !important;
}

.text-title {
    margin-top: -75px;
}

.text-title h1 {
    font-size: 34px;
}

.text-title p {
    color: white;
}

.bootstrap-tagsinput {
    width: 100%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bootstrap-tagsinput .tag {
    color: #000;
    background: #00ff95;
}